body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 300px;
    background-color: teal;
}

/* 1st-way */
/* @media (max-width:500px) {
    .box{
        background-color: yellow;
    }
} */

/* 2nd-way */
/* @media (min-width:500px) {
    .box{
        background-color: yellow;
    }
} */

/* 3rd-way */
@media (min-width:300px) and (max-width:500px) {
    .box{
        background-color: yellow;
    }
}